<h1>{{ title }}</h1>
<h2>{{ description }}</h2>

<div class="row" *ngIf="actionResult">
  <div class="col-sm-12">
      <pfng-inline-notification
          [header]="notificationHeader"
          [message]="notificationMessage"
          [dismissable]="true"
          [type]="notificationType"
          [hidden]="notificationHidden"
          (hiddenChange)="handleNofiticationHidden($event)">
      </pfng-inline-notification>
  </div>
</div>


<div class="container-fluid pfng-fluid-width-container">
  <div class="row row-cards-pf">
    <div class="col-sm-12" *ngIf="command">
      <!--<pfng-card [config]="command.config"
                 (onActionSelect)="handleActionSelect($event)">
          <div class="scenario-content">
            <p [innerHTML]="command.description"></p>
            <ul class="nav nav-tabs">
              <li [className]="activeTab == 'diagram' ? 'active' : ''"><a (click)="setActiveTab('diagram')">Diagram</a></li>
              <li [className]="activeTab == 'cheat-sheet' ? 'active' : ''"><a (click)="setActiveTab('cheat-sheet')">Cheat Sheet</a></li>
            </ul>
            <div *ngIf="activeTab == 'diagram'"><img class="tab-content img-responsive center" src="/assets/img/{{ command.image }}"></div>
            <div *ngIf="activeTab == 'cheat-sheet'"><p class="tab-content">Cheat Sheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeetttttt</p></div>
          </div>
      </pfng-card>-->
      <app-scenario-card 
        [config]="command.config" 
        [description]="command.description" 
        [image]="command.image" 
        [cheatSheet]="command.cheatSheet"
        (actionSelect)="handleActionSelect($event)">
      </app-scenario-card>
    </div>
    <div class="col-sm-6" *ngIf="break">
      <!--<pfng-card [config]="break.config"
                 (onActionSelect)="handleActionSelect($event)">
          <div class="scenario-content">
          <p [innerHTML]="break.description"></p>
          <ul class="nav nav-tabs">
            <li [className]="activeTab == 'diagram' ? 'active' : ''"><a (click)="setActiveTab('diagram')">Diagram</a></li>
            <li [className]="activeTab == 'cheat-sheet' ? 'active' : ''"><a (click)="setActiveTab('cheat-sheet')">Cheat Sheet</a></li>
          </ul>
          <div *ngIf="activeTab == 'diagram'"><img class="tab-content img-responsive center" src="/assets/img/{{ break.image }}"></div>
          <div *ngIf="activeTab == 'cheat-sheet'"><p class="tab-content">Cheat Sheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeetttttt</p></div>
          -->
          <!--<div class="cheat-sheet">
              <span class="dropdown primary-action" dropdown>
                  <a class="dropdown-toggle" dropdownToggle>Cheat sheet</a>
                    <ul class="dropdown-menu popover-content" role="tooltip" *dropdownMenu>
                    <p>hi there</p>
                  </ul>
                </span>
          </div>-->
        <!--</div>
      </pfng-card>-->
      <app-scenario-card 
        [config]="break.config" 
        [description]="break.description" 
        [image]="break.image" 
        [cheatSheet]="break.cheatSheet"
        (actionSelect)="handleActionSelect($event)">
      </app-scenario-card>
    </div>
    <div class="col-sm-6" *ngIf="fix">
      <!--<pfng-card [config]="fix.config"
                 (onActionSelect)="handleActionSelect($event)">
          <div class="scenario-content">
          <p [innerHTML]="fix.description"></p>
          <ul class="nav nav-tabs">
            <li [className]="activeTab == 'diagram' ? 'active' : ''"><a (click)="setActiveTab('diagram')">Diagram</a></li>
            <li [className]="activeTab == 'cheat-sheet' ? 'active' : ''"><a (click)="setActiveTab('cheat-sheet')">Cheat Sheet</a></li>
          </ul>
          <div *ngIf="activeTab == 'diagram'"><img class="tab-content img-responsive center" src="/assets/img/{{ fix.image }}"></div>
          <div *ngIf="activeTab == 'cheat-sheet'"><p class="tab-content">Cheat Sheeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeetttttt</p></div>
          </div>
      </pfng-card>-->
      <app-scenario-card 
        [config]="fix.config" 
        [description]="fix.description" 
        [image]="fix.image" 
        [cheatSheet]="fix.cheatSheet"
        (actionSelect)="handleActionSelect($event)">
      </app-scenario-card>
    </div>
  </div>
</div>
